@import './common.css';

.grid{
    height: 100%;
    display: grid;
    grid-template-columns: repeat(10, minmax(100px, 1fr));
    grid-template-rows: repeat(10, minmax(100px, 1fr));
}

.text-1{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 4;
    transform: rotate(-90deg);
    font-family: 'Title';
    text-align: start;
    margin: 0;
    color: var(--green-lighter);
}

.text-2{
    grid-row: 2 / 4;
    grid-column: 5 / 8;
    font-family: 'Subtitle';
    font-size: 64px;
    margin: 0;
    color: var(--green-lighter);
}

.card-1{
    grid-row: 4 / 8;
    grid-column: 1 / 3;
    padding: 5px;
}

.card-2 {
    grid-row: 4 / 6;
    grid-column: 3 / 6;
    padding: 5px;
}

.card-3 {
    grid-row: 6 / 9;
    grid-column: 4 / 6;
    padding: 5px;
}

.card-4 {
    grid-row: 4 / 6;
    grid-column: 7 / 11;
    padding: 5px;
}

.card-5{
    grid-row: 6 / 9;
    grid-column: 7 / 9;
    padding: 5px;
}

.card-6{
    grid-row: 6 / 10;
    grid-column: 9 / 11;
    padding: 5px;
}

@media (max-width: 1366px) {
    
    .text-2{
        font-size: 42px;
    }
}

@media (max-width: 1024px){
    .grid{
        height: 100%;
        display: grid;
        grid-template-columns: repeat(8, minmax(100px, 1fr));
        grid-template-rows: repeat(10, minmax(100px, 1fr));
    }
}

@media (max-width: 950px) {

    html, body{
        height: 100%;
    }

    .grid{
        height: 100%;
        display: grid;
        grid-template-columns: repeat(5, minmax(100px, 1fr));
        grid-template-rows: repeat(20, minmax(100px, 1fr));
    }

    .text-1{
        grid-row-start: 1;
        grid-row-end: 3;
        grid-column-start: 2;
        transform: rotate(-90deg);
        font-family: 'Title';
        text-align: start;
        margin: 0;
        color: var(--green-lighter);
    }
    
    .text-2{
        grid-row: 1 / 3;
        grid-column: 3 / 5;
        font-family: 'Subtitle';
        font-size: 64px;
        margin: 0;
        color: var(--green-lighter);
    }

    .card-1{
        grid-row: 4 / 8;
        grid-column: 1 / 3;
        padding: 5px;
    }
    
    .card-2 {
        grid-row: 4 / 6;
        grid-column: 3 / 6;
        padding: 5px;
    }
    
    .card-3 {
        grid-row: 6 / 9;
        grid-column: 3 / 6;
        padding: 5px;
    }
    
    .card-4 {
        grid-row: 9 / 11;
        grid-column: 1 / 6;
        padding: 5px;
    }
    
    .card-5{
        grid-row: 11 / 16;
        grid-column: 1 / 4;
        padding: 5px;
    }
    
    .card-6{
        grid-row: 11 / 14;
        grid-column: 4 / 6;
        padding: 5px;
    }
}

@media (max-width: 850px) {
    .text-2{
        font-size: 52px;
    }
}